streamlit
pandas
numpy
yfinance
plotly
beautifulsoup4
requests
selenium
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
gspread
openai
google-genai
streamlit-navigation-bar
pyarrow
chromedriver-autoinstaller
